version: "3.1"

services:
  web:
    image: odoo:19
    depends_on:
      - db
    ports:
      - "8070:8069"
    volumes:
      - ./custom_addons:/usr/lib/python3/dist-packages/odoo/custom_addons
      - ./odoo.conf:/etc/odoo/odoo.conf
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=postgres
    volumes:
      - ./postgresql:/var/lib/postgresql/data

